---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import heroimg from '../components/img/Heroimg1.jpg'
import heroimg2 from '../components/img/Heroimg2.jpg'
import founderimg from '../components/img/founderimg.jpg'
import homestyle from '../styles/homestyle.css'
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div class="heroimg">
				<img src={heroimg.src}>
				<img src={heroimg2.src}>
			</div>
			<div class="heroMessage">
				<h1 class="heroMainMessage">Comedy is simply a funny way of being serious.</h1>
				
			</div>
			<div class="aboutUscontainer">
				<img class="aboutimg" src={founderimg.src} alt="founder image">
				<h1 class="aboutHeader">About Us</h1>
				<p class="aboutParagraph">Comedian is a comedy club that has been in business for over 20 years. We have hosted some of the best comedians in the world and have a reputation for providing a great night out. Our club is located in the heart of the city and is easily accessible by public transport. We have a fully stocked bar and a great selection of food to choose from. So come on down and have a laugh with us!</p>
			</div>
			<div class="cardContainer">
				<div class="Card1Con"></div>
				<div class="Card2Con"></div>
				<div class="Card3Con"></div>
			</div>
			
		</main>
		<Footer />
	</body>
	<style>
		.heroimg {
			display: grid;
			grid-template-columns: 1fr 1fr;
			place-items: center;
			position: relative;
		}
		.heroimg img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		.heroparagraph {
			font-size: 1.5rem;
			margin-top: -2rem;
			color: #3B3B3B;
		}
		.heroMainMessage {
			text-align: center;
			font-size: 4rem;
			color: #232323;
			min
		}
		.aboutUscontainer {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 100px 500px;
			margin-top: 2rem;
		}
		.aboutimg {
			width: 100%;
			height: 100%;
			object-fit: cover;
			grid-row: 1 / 3	;
		}
		.aboutHeader {
			font-size: 2rem;
			color: #232323;
		}
		.aboutParagraph {
			font-size: 1.5rem;
			color: #3B3B3B;
		}


		
		
	</style>
</html>
